.galleryItem {
  margin: 20px;

  position: relative;
  width: 454px;
  height: 547px;
  border-radius: 24px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -3px 8px 24px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}
